// src/styles/components/_header.scss

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
  color: var(--color-text-primary); // ✅ 改成变量
}
