// src/styles/components/_header.scss

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
  color: var(--color-text-light); // 用全局变量替代 #fff
}
